body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin-top: 0px;
}
h2{
    margin-bottom: 0px;
}
h3{
    color: peru;
}
p{
    color: dimgray;
}
.name-highlight{
    color: blue;
    font-weight: bold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 250px;
    background-size: contain;
}
.link-button{
    text-decoration: none;
    background-color: palevioletred;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 30px 0px;
}
.biography-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.column {
    float: left;
    width: 20%;
    margin-left: 10%;
    padding: 0;
    font-size: 0;
  }
.my-latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}
.client-area{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    text-align: center;
}
footer p{
    text-align: center;
}
#position{
    position: relative; left: 100px; top: 200px;
}
#biography-position{
    position: relative; top: 220px;
}